@use 'basic';
@use 'variables';
@use 'mixins';

.modal__content--hits {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 91%;
    column-gap: 1.2rem;

    @include general-responsive(medium){
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        gap: 1.5rem;
    }

    @include general-responsive(small) {
        grid-template-columns: 10% 70% 10%;
        grid-template-rows: 7%  1% repeat(3, 1fr);
        gap: 1rem;
    }

    .hitsBox{

        @include hits-box();

        .hitsBox__header {
            font-weight: variables.$fontWeight-bold;
            margin-bottom: 1rem;
        }

        .hitsBox__links {
            color: white;
        }
        .hitsBox__topWrapper {
            font-size: small;
        }

        p {
            font-style: italic;
            margin-bottom: 1.2rem;
        }

    }

    .hitsBox__heading {
        grid-column: 4 / 6;
        grid-row: 4 / 5;
        display: flex;
        justify-content: flex-end;
        align-items: end;
        
        @include general-responsive(medium) {
            grid-column: 2 / 4;
            grid-row: 7 / 8;
            align-items: unset;         
        }

        @include general-responsive(small) {
            grid-column: 2 / 4;
            grid-row: 1 / 2;            
        }
    }

    
    .hitsBox--jobBcn {
        background-color: variables.$darkBlueColor;
        grid-column: 1 / 2;
        grid-row: 4 / 5;

        @include general-responsive(medium) {
            grid-column: 1 / 2;
            grid-row: 5 / 8;
        }

        @include general-responsive(small) {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }
    }

    .hitsBox--femHack {
        background-color: variables.$blueColor;
        grid-column: 2 / 3;
        grid-row: 2 / 5;

        @include general-responsive(medium) {
            grid-column: 1 / 2;
            grid-row: 1/ 5;
        }

        @include general-responsive(small) {
            grid-column: 2 / 3;
            grid-row: 4 / 5;
        }
    }

    .hitsBox--jump2 {
        background-color: variables.$lightBlueColor;
        grid-column: 3 / 4;
        grid-row:  3 / 5;

        @include general-responsive(medium) {
            grid-column: 2 / 3;
            grid-row: 2/ 6;
        }

        @include general-responsive(small) {
            grid-column: 2 / 3;
            grid-row: 5 / 6;
        }
    }
    
}