/* COLORS */
$lightBlueColor: #AAC2C7;
$blueColor: #54808D;
$darkBlueColor: #264E5B;
$darkFontColor: #333333;

/* FONTS */
$fontFamily-primary: 'Roboto', serif !default;
$fontWeight-thin: 100;
$fontWeight-regular: 300;
$fontWeight-bold: 900;

$fontSize-h1: 3rem;
$fontSize-h2: 1.6rem;
$fontSize-body: 1.2rem;


/* MODALS */

$modal-zIndex : 1000;
$modal-bg: #34383c;
$modal-width: 100%;
$space: 2.4rem;
$time: .5s;



